@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
    background-color: var(--cor-de-fundo-padrao, hsl(218, 23%, 16%));
    font-family: "manrope", sans-serif;
    font-weight: 800;

}

.conteiner {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center
}

.gerador-de-conselhos {
    display: flex;
    flex-direction: column;

    max-width: 370px;

    border-radius: 12px;
    background-color: var(--cor-de-fundo-do-gerador, hsl(218, 20%, 24%));
}

.gerador-de-conselhos .conselho {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.conselho .titulo-do-conselho {
    margin: 20px 0px;
    padding: 2px;

    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--cor-padrao-do-titulo-e-btn, rgb(82, 255, 168));

}

.conselho .informacao-do-conselho {
    text-align: center;
    margin-bottom: 20px;
    padding: 2px;

    color: var(--cor-do-texto);
}

.gerador-de-conselhos .btn-gerador-de-conselhos {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.btn-gerador-de-conselhos .linha-btn {
    width: 90%;

}

.btn {
    width: 60px;
    height: 60px;

    border-radius: 50px;

    cursor: pointer;
    transform: translateY(50%);
    position: relative
}

.btn img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.btn:hover {
    box-shadow: 10px -10px 50px rgb(82, 255, 168);
    background-color: var(--cor-padrao-do-titulo-e-btn, rgb(82, 255, 168));
    transition: 0.4s;
}